header
{
    
    color:rgb(66, 25, 1);
    text-align:left;
    padding:50px;
    font-size: 30px;
    
}

nav
 {
    line-height:30px;
    background-color:#CED8F6;
    height:500px;
    width:10%;
    float:left;
    padding-left: 20px;
 
}

.title{
  padding-left: 50px;
  font-size: 40px;
}


.body{
  padding-left: 50px;
  font-size: 20px;
}

.area1
 {
    width:88%;
	height:500px;
    float:left;	 	 
	background-color:#724444;
  color: #fff;


}

footer {
    background-color:#585858;
    color:white;
    clear:both; 
    padding-top: 60px;
    padding-bottom: 30px;
    padding-left: 30px;	 
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #d6e3b8;
  }
}

